
<div class="form-group">
	
	<div class="row alertHeader">
	<h1>NEW ALERT</h1>
	</div>

	<div class="row newAlert">
  	<form ng-model="alertForm" >
		<div class="col-md-4 col-md-offset-2">
			<label>Your Name:</label>
			<input class="form-control" ng-model='alertForm.reportedBy' placeholder="Jane Doe"/>
		
    		<label>Location:</label>
			<input class="form-control" ng-model='alertForm.location' placeholder="Mission and Warren, Fremont, CA"/>
		
   			<label>Number:</label>
			<input class="form-control" ng-model='alertForm.size' placeholder="5-10"/>



	</div>	
	<div class="col-md-4">
	    <label>Trajectory:</label>
    	<input class="form-control" ng-model='alertForm.trajectory' placeholder="eastbound"/>
		
		<label>Known Injuries:</label>
		<input class="form-control" ng-model='alertForm.injuries'placeholder="possible injuries"/>
    
    <button type="button" class="btn btn-default editBtn" ng-click='cancelAdd()'>Cancel</button>
    <button ng-click="addAlert(alertForm)" class="btn btn-default saveBtn">ADD ALERT</button>
    <button type="button" class="btn btn-default editBtn" ui-sref="home">Home</button>
    <button type="button" class="btn btn-default editBtn" ui-sref="list">Info</button>
  </div>

  </form>

</div>
</div>
