
<div class="row">
	<div class="col-sm-3 header2">
	
	</div>
		<div class="col-sm-3 header2">
	
	</div>
	<div class="col-sm-3 header2">
		<button ui-sref="alerts" class="btn btn-lg reportBtn">Report Sighting</button>	
	</div>

	<div class="col-sm-3 header2">
		<button ui-sref="home" class="btn btn-lg">Home</button>	
	</div>
</div>

<div class="row infoRow">
	<div class="col-sm-4 col-sm-offset-1">
		<div class="well hospitals">
			<h3>Medical Care Availability:</h3>
			<p>St. Andrews Hospital: closed</p>
			<p>Blake Medical Center: under quarantine</p>
			<p>SFMC: emergencies only</p>
			<p>San Jose Hopsital: closed</p>
		</div>
	</div>

<div class="col-sm-1">
	
</div>

	<div class="col-sm-4 col-sm-offset-1">
		<div class="well hospitals">
			<h3>Bunkers</h3>
			<p>Fremont Jail: </p>
			<p>Address: 1990 Stevenson Blvd, Fremont, CA 94538 Phone:(510) 790-6703</p>
			<p>Irvington High School: </p>
			<p>Address: 41800 Blacow Rd, Fremont, CA 94538 Phone:(510) 656-5711</p>
		
		</div>
	</div>
</div>



